@charset "UTF-8";
/*=== abstracts css start === */
@font-face {
  font-family: muli-regular;
  src: url(../fonts/Muli-Regular.ttf);
}
@font-face {
  font-family: muli-semibold;
  src: url(../fonts/Muli-SemiBold.ttf);
}
@font-face {
  font-family: muli-bold;
  src: url(../fonts/Muli-Bold.ttf);
}
@font-face {
  font-family: muli-extrabold;
  src: url(../fonts/Muli-ExtraBold.ttf);
}
@font-face {
  font-family: gilroy-medium;
  src: url(../fonts/Gilroy-Medium.ttf);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address,
strong,
i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

body {
  font-family: muli-regular;
  color: #424242;
}

/*===// end of base css === */
/*=== components css start === */
/*===// end of components css === */
/*=== layout css start === */
/*===// end of layout css === */
/*=== pages start === */
.home-page .clients-experience {
  padding: 60px 0;
}
@media (min-width: 992px) {
  .home-page .clients-experience .text-content {
    margin-top: -15%;
  }
}
.home-page .clients-experience .text-content .title {
  font-size: 62px;
}
@media (min-width: 1400px) {
  .home-page .clients-experience .text-content .title {
    font-size: 72px;
  }
}
.home-page .clients-experience .text-content .title-description {
  color: #9b9b9b;
}
.home-page .clients-experience .text-content .title-mobile {
  font-family: muli-bold;
}
@media (max-width: 767px) {
  .home-page .clients-experience .text-content .items {
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .home-page .clients-experience .text-content .items img {
    width: 30px;
  }
}
.home-page .clients-experience .text-content .items h5 {
  font-family: muli-bold;
}
@media (max-width: 767px) {
  .home-page .clients-experience .text-content .items h5 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .home-page .clients-experience .text-content .items p {
    font-size: 12px;
    padding-left: calc(30px + 0.5rem);
  }
}
.home-page .top-travel-destinations {
  padding: 60px 0;
}
.home-page .top-travel-destinations .title {
  font-family: muli-bold;
  color: #000;
}
@media (min-width: 1200px) {
  .home-page .top-travel-destinations .title {
    font-size: 50px;
  }
}
@media (min-width: 1600px) {
  .home-page .top-travel-destinations .title {
    font-size: 60px;
  }
}
.home-page .top-travel-destinations .travel-card {
  position: relative;
}
.home-page .top-travel-destinations .travel-card::before {
  content: "";
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg, #000, transparent);
  position: absolute;
  bottom: 0;
  left: 0;
}
.home-page .top-travel-destinations .travel-card .card-title {
  font-family: gilroy-medium;
}
@media (min-width: 1600px) {
  .home-page .top-travel-destinations .travel-card .card-title {
    font-size: 24px;
  }
}
.home-page .top-travel-destinations .travel-card .card-btn {
  background: #61c38a;
  color: #fff;
  border-radius: 0;
  font-family: muli-semibold;
}
@media (min-width: 1600px) {
  .home-page .top-travel-destinations .travel-card .card-btn {
    font-size: 20px;
  }
}
.home-page .top-travel-destinations .travel-card .card-btn:hover {
  background: rgba(97, 195, 138, 0.9137254902);
}
.home-page .top-travel-destinations .load-more-btn {
  background: #61c38a;
  color: #fff;
  border-radius: 0;
  font-family: muli-semibold;
}
@media (min-width: 1600px) {
  .home-page .top-travel-destinations .load-more-btn {
    font-size: 20px;
  }
}
.home-page .top-travel-destinations .load-more-btn:hover {
  background: rgba(97, 195, 138, 0.9137254902);
}
.home-page .get-the-mobile-app {
  padding: 60px 0;
  margin: 120px 0;
}
@media (max-width: 1199px) {
  .home-page .get-the-mobile-app {
    padding: 40px 0;
    margin: 80px 0;
  }
}
@media (max-width: 767px) {
  .home-page .get-the-mobile-app {
    padding: 20px 0;
  }
}
@media (max-width: 1599px) {
  .home-page .get-the-mobile-app .app-img {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .home-page .get-the-mobile-app .app-img {
    width: 60%;
  }
}
@media (max-width: 575px) {
  .home-page .get-the-mobile-app .app-img {
    width: 65%;
  }
}
.home-page .get-the-mobile-app .text-content .title {
  font-family: muli-extrabold;
}
.home-page .get-the-mobile-app .text-content ul li::before {
  content: "✓";
}
.home-page .get-the-mobile-app .text-content .download-app-btn {
  max-width: 180px;
}
@media (max-width: 1199px) {
  .home-page .get-the-mobile-app .text-content .download-app-btn {
    max-width: 120px;
  }
}
@media (max-width: 767px) {
  .home-page .get-the-mobile-app .text-content .download-app-btn {
    max-width: 40px;
  }
}
@media (max-width: 991px) {
  .home-page .get-the-mobile-app .text-content .title {
    font-size: 15px;
  }
  .home-page .get-the-mobile-app .text-content p, .home-page .get-the-mobile-app .text-content a, .home-page .get-the-mobile-app .text-content li {
    font-size: 8px;
  }
}
@media (min-width: 1600px) {
  .home-page .get-the-mobile-app .text-content .title {
    font-size: 50px;
  }
  .home-page .get-the-mobile-app .text-content p, .home-page .get-the-mobile-app .text-content a, .home-page .get-the-mobile-app .text-content li {
    font-size: 20px;
  }
}
.home-page .subscribe {
  padding: 60px 0;
}
.home-page .subscribe .subscribe-content {
  padding: 80px 20px;
  background-color: rgba(97, 195, 138, 0.2);
  border-radius: 120px 20px 20px 20px;
}
.home-page .subscribe .subscribe-content .title {
  color: #5E6282;
  font-family: muli-semibold;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .home-page .subscribe .subscribe-content .title {
    font-size: 15px;
    margin-bottom: 40px;
  }
}
.home-page .subscribe .subscribe-content .form-control {
  padding: 20px 20px 20px 40px;
}
@media (max-width: 767px) {
  .home-page .subscribe .subscribe-content .form-control {
    padding: 5px 5px 5px 40px;
    border-radius: 50px;
  }
}
.home-page .subscribe .subscribe-content .btn {
  background-color: #61C38A;
  color: #fff;
  font-family: muli-bold;
}
@media (max-width: 767px) {
  .home-page .subscribe .subscribe-content .btn {
    border-radius: 50px;
  }
}

/*===// end of pages  === *//*# sourceMappingURL=style.css.map */